<div class="form-row">
  <div class="form-item">
    <label>Topic</label>
    <input type="text" name="title" value="<%=book.title%>">
  </div>

  <div class="form-item">
    <label>Teacher's Name</label>
    <select name="author">
      <% authors.forEach(author => {%>
        <% if (author.id === book.author){%>
          <option selected label="<%=author.name%>" value="<%=author.id%>">
        <% } else { %>
          <option label="<%=author.name%>" value="<%=author.id%>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>


<div class="form-row">
  <div class="form-item">
    <label>Due Date</label>
    <input type="date" name="publishDate" value="<%=book.publishDate == null ? '':book.publishDate.toISOString().split('T')[0]%>">
  </div>

  <div class="form-item">
    <label>Level</label>
    <input type="text" name="pageCount" min="1" value="<%=book.pageCount%>">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>First Link Desciption</label>
    <input type="text" name="linkDes1" value="<%=book.linkDes1%>">
  </div>
  <div class="form-item">
    <label>First Link</label>
    <input type="text" name="link1" value="<%=book.link1%>">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Second Link Desciption</label>
    <input type="text" name="linkDes2" value="<%=book.linkDes2%>">
  </div>
  <div class="form-item">
    <label>Second Link</label>
    <input type="text" name="link2" value="<%=book.link2%>">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>More info</label>
    <input type="text" name="game" value="<%=book.game%>">
  </div>
</div>


<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Photo</label>
    <input type="file" name="cover" class="book-cover filepond">
  </div>

  <div class="form-item">
    <label>Content</label>
    <textarea name="description"><%=book.description%></textarea>
  </div>
</div>
