<h2 class="page-header"><%= book.title %></h2>

<div>
  <div class="form-row">
    <div class="form-item">
      <img class="book-cover" src="<%= book.coverImagePath%>">
    </div>
  </div>

  <div class="form-row">
    <div class="form-item">
      <div>Teacher:</div>
      <div>Publish Date:</div>
      <div>Level:</div>
    </div>
    <div class="form-item" style="width: 60px;">
      <div><%= book.author.name%></div>
      <div><%= book.publishDate.toDateString()%></div>
      <div><%= book.pageCount %></div>
    </div>
    <div class="form-item">
    </div>
  </div>

  <div class="form-row">
    <div>Content:</div>
  </div>
  <div class="form-row" style="font-weight:300;">
    <div><%= book.description%></div>
  </div>

  <div class="form-row">
    <div class="form-item">
      <div style="line-height: 50px">First Link:</div>
      <div style="line-height: 50px">Second Link:</div>
    </div>
    <div class="form-item">
      <a class="link" href="<%=book.link1%>" style="line-height: 50px"><%=book.linkDes1%></a>
      <a class="link" href="<%=book.link2%>" style="line-height: 50px"><%=book.linkDes2%></a>
    </div>
  </div>

  <div class="form-row">
    <div class="form-item">
      <div>Review Game</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <%-book.game%>
    </div>
  </div>




  <div class="form-row">
    <div class="book-details-btn-grid">
      <a class="btn btn-primary" href="/books/<%=book.id%>/edit">Edit</a>
      <%- include('../partials/deleteForm', {url: `/books/${book.id}`})%>
      <a class="btn btn-primary book-details-author-button" href="/authors/<%=book.author.id%>">View Author</a>
    </div>
  </div>
</div>
